In [ ]:
print('dhfsjkdhfkjsd')

dhfsjkdhfkjsd

### Datatypes

- int (21738127031, 0, -324697823678423)
- float (217381270.31, 0.0, -32.4697823678423)
- string ("A","Ashish","Ashihs dsghf hsgdjhfgshd gfjhgs hgfsjhd jf")
- bool (True, False)

In [ ]:
print(1)
print(1.5)
print("Ashihs")
print(True)

1
1.5
Ashihs
True

### Operators

#### Arithmetic Operators

In [ ]:
print('1' + 3)
print('1' - 3)
print('1' * 3)
print('1' / 3)
print(1. // 3)
print(1. % 3)
print(1. ** 3)

str

#### Comparison

In [ ]:
print(3>5)
print(3<5)
print(3>=5)
print(3<=5)
print(3!=5)
print(3==5)

True
True
False
True
True
False

#### Logical

In [ ]:
age = 100

print((age>18) and (age<=100))
print((age>18) or (age<100))
print(not(True))

True

### Conditionals

In [ ]:
age = 25

if (age>=18 and age <= 100):
  print('Eligible')

elif (age>=0 and age < 18):
  print('Not Eligible')

else:
  print('Not a valid age')

Eligible

### Loop

In [ ]:
num = 19

for i in range(1,11):
  print(num,'*', i,'=', num * i)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:
print('A','a','a', end = '', sep = '')
print('B', end = '')
print('C')

AaaBC

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [ ]:
c = 0

for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      if (i+j+k) == 18:
        c = c + 1
        print(i,j,k)

print(c)

6 6 6
1

### Data Structures

##### List

In [ ]:
lst = [12,'1',21,3,2.43,True,3,123,12,31,23,1]
print(lst)

lst.append(125)
print(lst)

print(lst[2:-2:2])

lst[0] = 'Ashish'
print(lst)

[12, '1', 21, 3, 2.43, True, 3, 123, 12, 31, 23, 1]
[12, '1', 21, 3, 2.43, True, 3, 123, 12, 31, 23, 1, 125]
[21, 2.43, 3, 12, 23]
['Ashish', '1', 21, 3, 2.43, True, 3, 123, 12, 31, 23, 1, 125]

#### Dictionary

In [ ]:
data = {'1001' : {'name': 'Ashish', 'phone_no' : [489237849,5234234]},
        '1002' : {'name': 'Manish', 'phone_no' : [489237849]},
        '1003' : {'name': 'Shanu' , 'phone_no' : [489237849]}}


print(data['1002']['name'])

# for key in data.keys():
#   print(key, data[key])

Manish